{% extends "base.html" %}
{% load static %}

{% block css_scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hmbStyles.css' %}" />
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<p id="username">{{ user.first_name }}</p>
{% endif %}


<div class="cardtable">

  <!-- Opponent cards -->
  <div class='cards' id="cards-top">
  </div>

  <!-- Deck and vis card -->
  <div class='cards' id="cards-mid">

    <div class="play-cards" id="play-cards"></div>

    <div class="deck" id="deck"></div>

    <div class="command-box" id="command-box">
      <p id="cb-text"></p>
    </div>

    {% if not user.is_authenticated %}
    <div id="enter-name-box">
      <!-- <label for=name-text>Name: </label> -->
      <input type="text" id="name-text" placeholder="Enter your name"/>
      <button type="submit" id="name-button">Submit</button>
    </div>
    {% endif %}

    <div class="viscard" id="viscard"></div>

    <div class="scoreboard-box" id="scoreboard-box">
      <div class="scoreboard-title" id="scoreboard-title">
        <p id="sb-title"></p>
      </div>
      <div class="scoreboard-names" id="scoreboard-names">
        <p id="p1-name"></p>
        <p id="p2-name"></p>
      </div>
      <div class="scoreboard-scores" id="scoreboard-scores">
        <p id="p1-score"></p>
        <p id="p2-score"></p>
      </div>
      <div class="scoreboard-bids" id="scoreboard-bids">
        <p id="p1-bid"></p>
        <p id="p2-bid"></p>
      </div>
    </div>

  </div>

  <!-- Player cards -->
  <div class='cards' id="cards-bot"></div>

</div>

{% endblock %}

{% block js_scripts %}

<script type="text/javascript" src="{% static 'js/gameClasses.js' %}"></script>
<script type="text/javascript" src="{% static 'js/gameRun.js' %}"></script>

{% endblock %}
