{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
  <div class="jumbotron">
    <h1> This is the Multiplayer Game! </h1>
    <h2> Welcome {{ user.username }}</h2>
  </div>
</div>
{% else %}
<div class="container">
  <div class="jumbotron">
    <h1>You need to be logged in to play multiplayer.</h1>
    <h2><a href="{% url 'accounts:login'%}">Log in</a> or <a href="{% url 'accounts:signup'%}">sign up!</a></h2>
  </div>
</div>
{% endif %}

{% endblock %}
