.navbar-custom {
    background-color: #8B4513;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(255,255,255);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active.nav-link,
.navbar-custom .nav-item:hover.nav-link {
    /* color: rgba(255,255,255,.6); */
    font-weight: bold;
    background-color: white;
    color: #D12D36;
}

body {
    /* background-image: url("images/dribble.jpg"); */
    background-color: white;
}
